#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

&trackball {
    automouse-layer = <4>;
    scroll-layers = <5>;

    // arrows {
    //     layers = <3>;
    //     bindings =
    //         <&kp RIGHT_ARROW>,
    //         <&kp LEFT_ARROW>,
    //         <&kp UP_ARROW>,
    //         <&kp DOWN_ARROW>;
    //     tick = <10>;
    //     wait-ms = <5>;
    //     tap-ms = <5>;
    // };
};

/ {
    combos { compatible = "zmk,combos"; };

    macros {
        gmail: mail {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp A &kp R &kp A &kp T &kp A &kp K &kp A &kp J &kp I &kp N0 &kp N7 &kp AT &kp G &kp M &kp A &kp I &kp L &kp DOT &kp C &kp O &kp M>;
            label = "MAIL";
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q      &kp W         &kp E         &kp R      &kp T                                                            &kp Y        &kp U  &kp I      &kp O    &kp P
&kp A      &kp S         &kp D         &kp F      &kp G        &trans                     &kp CARET                &kp H        &kp J  &kp K      &kp L    &mt RIGHT_COMMAND MINUS
&kp Z      &kp X         &kp C         &kp V      &kp B        &mt LCTRL LANG2            &mt RIGHT_COMMAND LANG1  &kp N        &kp M  &kp COMMA  &kp DOT  &kp DOLLAR
&kp CARET  &kp LEFT_WIN  &kp LEFT_ALT  &lt 3 TAB  &lt 2 SPACE  &mt LEFT_SHIFT ESCAPE      &kp BACKSPACE            &lt 1 ENTER                             &kp BACKSLASH
            >;

            sensor-bindings = <&inc_dec_kp PAGE_DOWN PAGE_UP>;
        };

        Num {
            bindings = <
&trans  &trans  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3                           &kp BACKSLASH  &trans      &trans        &trans         &trans
&trans  &trans  &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &trans         &kp HASH  &kp SLASH      &kp EQUAL   &kp ASTERISK  &kp PLUS       &kp AT
&trans  &trans  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp GRAVE      &trans    &kp PERCENT    &kp PERIOD  &kp COLON     &kp SEMICOLON  &trans
&trans  &trans  &kp NUMBER_0  &trans        &trans        &trans         &trans    &trans                                                  &trans
            >;
        };

        Mark {
            bindings = <
&trans  &trans         &trans            &trans          &trans                                      &trans                 &trans           &trans             &kp TILDE         &trans
&trans  &kp PIPE       &kp AMPERSAND     &kp EXCL        &kp QUESTION          &trans       &trans   &kp LEFT               &kp DOWN         &kp UP             &kp RIGHT         &kp UNDERSCORE
&trans  &kp LESS_THAN  &kp LEFT_BRACKET  &kp LEFT_BRACE  &kp LEFT_PARENTHESIS  &kp SQT      &kp DQT  &kp RIGHT_PARENTHESIS  &kp RIGHT_BRACE  &kp RIGHT_BRACKET  &kp GREATER_THAN  &trans
&trans  &trans         &trans            &trans          &trans                &trans       &trans   &trans                                                                       &trans
            >;
        };

        Device {
            bindings = <
&trans  &trans  &kp LC(NUMBER_1)  &kp LC(NUMBER_2)  &kp LC(NUMBER_3)                      &bt BT_SEL 0       &bt BT_SEL 1       &bt BT_SEL 2       &bt BT_SEL 3       &bt BT_SEL 4
&trans  &trans  &kp LC(NUMBER_4)  &kp LC(NUMBER_5)  &kp LC(NUMBER_6)  &trans      &gmail  &kp LS(LC(LG(H)))  &kp RG(LC(F))      &kp LS(LC(LG(K)))  &kp LS(LG(LC(L)))  &trans
&trans  &trans  &kp LC(NUMBER_7)  &kp LC(NUMBER_8)  &kp LC(NUMBER_9)  &trans      &trans  &kp K_MUTE         &kp C_VOLUME_DOWN  &kp C_VOLUME_UP    &trans             &trans
&trans  &trans  &trans            &trans            &trans            &trans      &trans  &trans                                                                      &trans
            >;

            sensor-bindings = <&inc_dec_kp PAGE_UP PAGE_DOWN>;
        };

        MOUSE {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans    &trans    &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &mkp MB2  &mkp MB1  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans    &trans    &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                              &trans
            >;
        };
    };
};
